#container{
 margin-left:20px;
}
#allTickets {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
 
}

#allTickets td, #allTickets th {
  border: 1px solid #ddd;
  padding: 8px;
}

#allTickets tr:nth-child(odd){background-color: #ddd;}

#allTickets tr:hover {background-color: #cddc14;}

#allTickets th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
  
  #loginform{
  	margin: 50px 280px auto;
  }
  #ticketExists{
  	color:red;
  }